<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodTypes"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".View.Activity.SatotUsertActivity2"
            android:exported="false" />
        <activity
            android:name=".View.Activity.registerActivity.SatotaRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.ProfessionUserActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.registerActivity.ProfessionActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.registerActivity.LineActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.registerActivity.Sendrequest"
            android:exported="false" />
        <activity
            android:name=".View.Activity.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.Transportation_linesActivity"
            android:exported="false" /> <!-- heerree -->
        <activity
            android:name=".View.Activity.SelectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activity.TypeActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.registerActivity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>